body{
    font-family: sans-serif;
    background-color: rgb(231, 231, 231);
}

.input{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 20px;
}

.todoInput{
    width: 1510px;
    height: 44px;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 0 1.5px 0 0 #a5a5a5;
}
.todoInput:focus{
    outline: none;
}

.addbtn{
    width: 310px;
    height: 47px;
    background-color: #1a73e8;
    color: #fff;
    display: flex;
    justify-content: center;
    border-style: none;
    align-items: center;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 15px;
}
.addbtn:hover{
    cursor: pointer;
}

.todo{
    background-color: white;
    border: 1px solid rgb(190, 190, 190, 0.411);
    margin-top: 40px;
    margin: auto;
    width: 1794px;
    align-items: center;
    box-shadow: 0 0px 0 0 rgb(190, 190, 190, 0.411);
}
.heading{
    padding-left: 25px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.list{
    list-style: none;
    padding-right: 40px;
    display: flex;
    flex-direction: column;

}

ul li{
    display: flex;
    padding: 15px 25px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.411);
    align-items: center;
    justify-content: space-between;
}
ul li:last-child{
    border-bottom: 0px !important;
}
ul li i:hover{
    cursor: pointer;
}
.checked{
    display: none;
}
.unchecked{
    display: flex;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 15px;
    margin-right: 15px;
}
ul li input[type=checkbox]:checked ~ label {
    text-decoration: line-through;
}
ul li input[type=checkbox]:checked ~ .unchecked {
    display: none;
}
ul li input[type=checkbox]:checked ~ .checked {
    display: flex;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 13px;
    margin-right: 13px;
}
.left{
    display: flex;
    justify-self: flex-start !important;
}
.task{
    display: flex;
    border-style: none;
    font-size: medium;
}
.fa fa-trash{
    display: flex;
    justify-self: start;
}